<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>github-quickfixj</id>
            <username>NAME</username> <!-- Your GitHub username -->
            <password>PASS</password> <!-- Your GitHub PAT -->
        </server>
    </servers>
    <localRepository/>
    <interactiveMode/>
    <offline/>
    <pluginGroups/>
    <mirrors/>
    <proxies/>
    <profiles/>
    <activeProfiles/>
</settings>